@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Jost:ital,wght@0,500;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8
  }

  .hoover-settings {
    @apply text-violet-200 hover:text-violet-400 duration-500
  }
}

.fira-mono-bold {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.jost-semi-bold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 520;
  font-style: normal;
}


.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}