@tailwind components;

@layer components {

    /* NAVBAR */
    .navbar {
        /* Style */
        @apply shadow-md bg-violet-700/10;
        border-radius: 9999px;
        user-select: none;
        padding: 2rem;
        padding-right: 1.25rem;

        /* Settings (position, size, etc) */
        display: flex;
        position: fixed;
        justify-content: space-between;
        width: 70%;
        height: 3rem;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 50;
    }

    /* https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome */
    .navbar::before {
        @apply backdrop-blur-md border-violet-400/15;
        content: "";
        border-width: 1px;
        position: absolute;
        inset: 0px;
        z-index: -10;
        border-radius: 9999px;
    }

    /* BUTTONS */
    .common-button {
        @apply text-violet-200 hover:text-violet-400 border-violet-400/5 hover:bg-violet-500/10;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        transition-duration: 500ms;
        border-radius: 0.75rem;
        gap: 0.25rem;
    }

    .navigation-buttons {
        @apply common-button;
        padding: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .small-button {
        @apply common-button;
        cursor: pointer;
        height: 2.75rem;
        width: 2.75rem;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 0.25rem
    }

    .language-options-buttons {
        @apply common-button;
        width: 6rem;
        height: 2.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .hamburger-button {
        display: none;
    }

    /* LISTS */
    .navigation-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        list-style-type: none;
        margin-left: 1rem;
        gap: 0.75rem;
        column-gap: 0.75rem
    }

    .language-list {
        @apply bg-violet-700/10 border-violet-400/15 backdrop-blur-xl;
        display: flex;
        flex-direction: column;
        position: absolute;
        list-style-type: none;
        align-items: center;
        text-align: center;
        border-width: 1px;
        border-radius: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        gap: 0.5rem;
        height: auto;
        top: 68px;
        inset-inline-end: 0.75rem;
    }
}

@media screen and (max-width: 1290px) {

    .navbar {
        height: 5rem;
        width: 90%;
    }

    /* BUTTONS */
    .navigation-buttons {
        border-style: none;
        width: 100%;
    }

    .language-options-buttons {
        @apply navigation-buttons;
    }

    .small-button {
        @apply border;
    }

    .hamburger-button {
        display: flex;
    }

    /* LISTS */
    .navigation-list {
        @apply bg-violet-700/10 border-violet-400/30 backdrop-blur-xl;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: auto;
        border-width: 1px;
        border-radius: 1.5rem;

        position: absolute;
        top: 0px;
        left: 110%;
        align-items: stretch;
        padding-top: 6rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin: 0px;
        z-index: -10;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-list.active {
        left: 0px;
    }

    .language-list {
        @apply navigation-list;
    }

    .language-list.active {
        left: 0px;
    }
}